# Entorno virtual
venv/
.env

# Compilados de Python
__pycache__/
*.pyc
*.pyo

# Archivos temporales o locales
*.log
*.sqlite3
*.db

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de VSCode
.vscode/
